# api key
.env

# backup
src/backup

# cache
src/cache

# create_dataset
src/create_dataset/Dog-Instruct/dog-instruct-wrapper-7b-lora

src/create_dataset/Dog-Instruct/document.json
src/create_dataset/Dog-Instruct/my_document.json
src/create_dataset/Dog-Instruct/my_task_dog_instruct.json
src/create_dataset/Dog-Instruct/my_task_final.jsonl
src/create_dataset/Dog-Instruct/my_task_limited_creativity.json
src/create_dataset/Dog-Instruct/my_task_original.json
src/create_dataset/Dog-Instruct/task.json

src/create_dataset/test_dataset/*
src/create_dataset/train_dataset/*

# experiments
src/experiments/anlaysis/response/*
src/experiments/win_rate/*.csv

# train
src/train_model/cache
src/train_model/Reflection_Tuning/data

src/train_model/train/llama3_3B/outputs
src/train_model/train/llama3_3B/response
src/train_model/train/llama3_3B/unsloth_compiled_cache

src/train_model/train/llama3_8B/outputs
src/train_model/train/llama3_8B/response
src/train_model/train/llama3_8B/unsloth_compiled_cache

# etc
src/experiments/win_rate/task_classification_log_file.txt
src/experiments/win_rate/unsloth_compiled_cache